/*
======================================================
	Mobile layout
======================================================
*/

.header-wrapper {
	@include grid-row();
}

.identity {
	@include grid-column($columns: 12);
	text-align: center;
}

#primary-menu {
	@include grid-column(12);
	text-align: center;
}

.hero-wrapper {
	@include grid-row();
	text-align: center;
}

.content-wrapper {
	@include grid-row();
}

.single-episode .episode {
	@include grid-column(12);
}

.page-template-default article.page {
	@include grid-column($columns: 10, $center: true);
}

.page-template-page-about-php article.page {
	@include grid-column($columns: 8, $center: true);
}

.single-episode {

	.sidebar-wrapper {
		@include grid-row($behavior: nest);	
	}

	.sidebar,
	.episode,
	.hero-meta,
	.hero-album-art {
		@include grid-column(12);
	}

	.people {
		@include grid-column(12);
	}
	.share, .subscribe {
		@include grid-column(6);
	}

}

#showboard .top,
#showboard .bottom {
	@include grid-row();
}

#showboard .episode {
	width: 80%;
	margin: 1em auto;
	max-height: 360px;
	height: auto;
	text-align: center;
	@include transition-action(width, 0.25s);
}


.footer-area-container {
	@include grid-row();

	.widget_text, .widget_nav_menu  {
		@include grid-column(12);
	}
}



// villain is not made with foundation, but include here for mobile
.villain {
	width: 100%;
	float: none;
	height: 250px;
	@include transition-action(width, 0.25s);
}

.dictator .villain,
.diarchy .villain {
	width: 90%;
	float: none;
	height: 250px;
}


/*
======================================================
	(Regular) 768px+ layout
======================================================
*/
@media #{$small} {

	.identity {
		@include grid-column($columns: 5, $center: false);
		text-align: left;
	}

	#primary-menu {
		@include grid-column(7);
		text-align: right;
	}

	.hero-wrapper {
		text-align: left;
		@include grid-row();
	}

	.content-wrapper {
		@include grid-row();
	}

	.single-episode {

		.episode {@include grid-column(8);}
		.sidebar {@include grid-column(4);}
		.hero-meta {@include grid-column(7);}
		.hero-album-art {@include grid-column(5);}

		.share, .subscribe {
			@include grid-column(12);
		}
	}

	#showboard .episode {
		@include grid-column(6);
		min-height: 360px;
		text-align: center;
	}


	.footer-area-container {
		.widget_text {
			@include grid-column(8);
		}

		.widget_nav_menu {
			@include grid-column(4);
		}
	}

	// villain is not made with foundation
	.villain {
		float: left;
		width: 33.333333%;
		height: 300px;
	}

	.dictator .villain {
		width: 90%;
		float: none;
		height: 420px;
	}

	.diarchy .villain {
		height: 320px;
	}

}

@media (min-width: 1024px) {
	#showboard .episode {
		@include grid-column(4);
		min-height: 280px;
		text-align: left;
	}

	.dictator .villain {
		width: 60em;
		float: none;
		height: 420px;
	}

	.diarchy .villain {
		@include grid-column(5);
		height: 320px;
	}
	.diarchy .villain:first-child {
		@include grid-column(5, $push: 1);
	}
	.diarchy .villain:last-child {
		@include grid-column(5, $push: 1, $collapse: true);
	}


}

@media only screen and (max-width : 360px) {
	#showboard .episode {
		max-height: 300px;
		clear: both;
	}
}
