/*
======================================================
	Mobile layout
======================================================
*/

.header-wrapper {
	@include grid-row();
}

.identity {
	@include grid-column($columns: 24);
	text-align: center;
}

#primary-menu {
	@include grid-column(24);
	text-align: center;
}

.hero-wrapper {
	@include grid-row();
	text-align: center;
}

.content-wrapper {
	@include grid-row();
}

.single-episode .episode {
	@include grid-column(24);
}

.page-template-default article.page {
	@include grid-column($columns: 20, $center: true);
}

.page-template-page-about-php article.page {
	@include grid-column($columns: 16, $center: true);
}

.single-episode {

	.sidebar-wrapper {
		@include grid-row($behavior: nest);	
	}

	.sidebar,
	.episode,
	.hero-meta,
	.hero-album-art {
		@include grid-column(24);
	}

	.people {
		@include grid-column(24);
	}
	.share, .subscribe {
		@include grid-column(12);
	}

	.primary-people ul {
		@include block-grid(3);
	}

}

#showboard .top,
#showboard .bottom {
	@include grid-row();
	ul {
		padding: 0;
	}
	li {
		@include transition-action(width, 0.25s);
	}
}

#showboard .episode {
	width: 87%;
	margin: 3em auto;
	max-height: 470px;
	max-width: 400px;
	height: auto;
	text-align: center;
}


.footer-area-container {
	@include grid-row();

	.widget_text, .widget_nav_menu  {
		@include grid-column(24);
	}
}



// villain is not made with foundation, but include here for mobile
.villain {
	width: 100%;
	float: none;
	height: 250px;
	@include transition-action(width, 0.25s);
}

.dictator .villain,
.diarchy .villain {
	width: 90%;
	float: none;
	height: 250px;
}



/*
======================================================
	(Regular) 768px+ layout
======================================================
*/
@media #{$small} {

	.identity {
		@include grid-column($columns: 10, $center: false);
		text-align: left;
	}

	#primary-menu {
		@include grid-column(14);
		text-align: right;
	}

	.hero-wrapper {
		text-align: left;
		@include grid-row();
	}

	.content-wrapper {
		@include grid-row();
	}

	.single-episode {

		.episode {@include grid-column(16);}
		.sidebar {@include grid-column(8);}
		.hero-meta {@include grid-column(14);}
		.hero-album-art {@include grid-column(10);}

		.share, .subscribe {
			@include grid-column(24);
		}

		.primary-people ul {
			@include block-grid(2);
		}

	}

	// #showboard .episode {
	// 	@include grid-column(12);
	// 	min-height: 360px;
	// 	text-align: center;
	// }

	#showboard .episode {
		text-align: center;
		margin: 1.5em auto;
	}

	#showboard .top ul, #showboard .bottom ul {
		@include block-grid(2);
	}

	.footer-area-container {
		.widget_text {
			@include grid-column(16);
		}

		.widget_nav_menu {
			@include grid-column(8);
		}
	}

	// villain is not made with foundation
	.villain {
		float: left;
		width: 33.333333%;
		height: 300px;
	}

	.dictator .villain {
		width: 90%;
		float: none;
		height: 420px;
	}

	.diarchy .villain {
		height: 320px;
	}

}

@media (min-width: 1024px) {
	// #showboard .episode {
	// 	@include grid-column(8);
	// 	min-height: 280px;
	// 	text-align: left;
	// }

	#showboard .episode {
		text-align: left;
		margin: 1em auto;
	}

	#showboard .top ul, #showboard .bottom ul {
		@include block-grid(3);
	}

	.dictator .villain {
		width: 60em;
		float: none;
		height: 420px;
	}

	.diarchy .villain {
		@include grid-column(10);
		height: 320px;
	}
	.diarchy .villain:first-child {
		@include grid-column(9, $push: 2);
	}
	.diarchy .villain:last-child {
		@include grid-column(9, $push: 4, $collapse: true);
	}

	.single-episode {}

}

@media only screen and (max-width : 360px) {
	// #showboard .episode {
	// 	max-height: 300px;
	// 	clear: both;
	// }
}
